* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
   background: linear-gradient(
        135deg,
        #f7fbff,
        #ffffff
    );

    color: #333;
}


/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}


.logo img {

    width: 300px !important;
    height: auto;

}


nav a {

    text-decoration: none;
    margin-left: 25px;
    color: #003366;
    font-size: 17px;
    font-weight: bold;

}


nav a:hover {

    color: #007bff;

}



/* Common Sections */

section {

    padding: 60px 8%;

}


h1 {

    text-align: center;
    font-size: 38px;
    color: #003366;
    margin-bottom: 25px;

}


h2 {

    color: #003366;
    margin: 25px 0 15px;

}


p {

    font-size: 17px;
    line-height: 1.7;

}



/* About */

.about {

    text-align: center;

}


.about-box {

    display: flex;
    gap: 25px;
    margin-top: 40px;

}


.about-box div {

    flex: 1;
    padding: 25px;
    background: #f5f9ff;
    border-radius: 10px;

}



/* Services */

.service-container {

    display: flex;
    gap: 25px;

}


.service-box {

    flex: 1;
    background: #f5f9ff;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
     transition: 0.3s;

}



/* Contact */

.contact-container {

    display: flex;
    gap: 40px;

}


.contact-info,
.contact-form {

    flex: 1;

}


input,
textarea {

    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;

}


textarea {

    height: 120px;

}


button {

    background: #003366;
    color: white;
    padding: 14px 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

}


button:hover {

    background: #007bff;

}



/* Footer */

footer {

    background: #003366;
    color: white;
    text-align: center;
    padding: 20px;

}



/* Mobile Responsive */

@media(max-width:768px) {


header {

    flex-direction: column;

}


nav {

    margin-top: 20px;

}


.about-box,
.service-container,
.contact-container {

    flex-direction: column;

}


.logo img {

    width: 190px;

}


h1 {

    font-size: 30px;

}
/* Contact CTA */

.cta {

    background: #003366;
    color: white;
    text-align: center;
    padding: 60px 10%;

}


.cta h1 {

    color: white;
    margin-bottom: 15px;

}


.cta p {

    margin-bottom: 25px;

}


.cta button {

    background: white;
    color: #003366;
    font-weight: bold;

}

    .cta {

    background: #003366;
    color: white;
    text-align: center;
    padding: 60px 10%;

}


.cta h1 {

    color: white;

}


.cta button {

    margin-top: 20px;
    background: white;
    color: #003366;

}
    

}
